.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table.parteiencheck, th.parteiencheck, td.parteiencheck {
 border: 1px solid black;
 border-collapse: collapse;
}
td.parteiencheck {
width:56px;
height:40px;
cursor: pointer;
}

.position_symbol {
width: 56px; /*or your image's width*/
height: 40pxpx; /*or your image's height*/
margin: 0;
padding: 0;
}

/* .green {
background: white url("https://visawie.org/wp-content/uploads/2017/09/green_tick.jpg") no-repeat;
background-size:56px 40px;
}

.yellow {
background: white url("https://visawie.org/wp-content/uploads/2017/09/yellow_circle.jpg") no-repeat;
background-size:56px 40px;
}

.red {
background: white url("https://visawie.org/wp-content/uploads/2017/09/red_cross.jpg") no-repeat;
background-size:56px 40px;
}

.grey {
background: white url("https://visawie.org/wp-content/uploads/2017/09/red_cross.jpg") no-repeat;
background-size:56px 40px;
} */
